{% extends 'base.html.twig' %}
{% block title %}Liste des liens{% endblock %}
{% block body %}
    <h1>Liste des liens</h1>
    <ul>
        {% for link in links %}
            <li>
                <a href="{{ link.url }}">{{ link.title }}</a>{% if link.desc %} - {{ link.desc }}{% endif %}<br>
                Partagé par : {{ link.user.login }}
            </li>
        {% else %}
            <li>Aucun lien trouvé.</li>
        {% endfor %}
    </ul>
{% endblock %}